@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: grey;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(194, 49%, 44%, 0.527);
  }
}
