<script setup lang="ts">
const RSS_URL = `/feed_data.json`;
const OUTPUT_SIZE = 50;
const RAND_MAX = 4;

import { reactive } from 'vue';

import ArticleEntry from './components/ArticleEntry.vue'

const randInt = (i: number): number => Math.floor(Math.random() * i);

const generate_content = (data: any): any[] => {
  let feed_max: any = {}, feed_curr: any = {}, feed_keys: string[] = [], result: any[] = [];
  for(const key in data) {
    feed_max[key] = data[key].length;
    feed_curr[key] = 0;
    feed_keys.push(key);
  }

  while (result.length < OUTPUT_SIZE){
    const key = feed_keys[randInt(feed_keys.length)];  // select feed randomly
    feed_curr[key] += randInt(RAND_MAX);  // increase feed index
    if (feed_curr[key] < feed_max[key]) {  // check if index is still within range
      result.push(data[key][feed_curr[key]]);  // add entry to the output feed
    } else { // remove the feed from list if index is out of bound
      feed_keys.splice(feed_keys.indexOf(key), 1);
    }
  }

  return result;
}

const master: {items: any[]} = reactive({
  items: []
});

fetch(RSS_URL)
  .then(response => response.text())
  .then(str => JSON.parse(str))
  .then(data => { master.items = generate_content(data) })
</script>

<template>
  <header>
    <div class="wrapper">
      <h1>News Flash</h1>
    </div>
  </header>
  <main>
    <ArticleEntry v-for="item in master.items" :key="item.id">
      <template #heading>
        <a :href="item.link" >
          {{ item.title }}
        </a>
      </template>
      <template #timestamp>
        {{ new Date(item.pubDate).toDateString() }}
      </template>
      {{ item.description }}
    </ArticleEntry>
  </main>
</template>
